<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Задачник</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Задачник</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>NSCalendarsFullAccessUsageDescription</key>
	<string>Задачник добавляет и обновляет события дедлайнов в вашем Календаре, который синхронизируется с Google Calendar</string>
	<key>NSCalendarsUsageDescription</key>
	<string>Задачник добавляет дедлайны проектов и задач в ваш Календарь (синхронизируется с Google Calendar)</string>
	<key>NSCameraUsageDescription</key>
	<string>Задачник использует камеру для фото в прикреплённых файлах</string>
	<key>NSHumanReadableCopyright</key>
	<string></string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Задачник использует микрофон для записи голосовых заметок и звонков</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Задачник использует распознавание речи для автоматической транскрибации голосовых записей и звонков</string>
	<key>NSSupportsAutomaticTermination</key>
	<true/>
	<key>NSSupportsSuddenTermination</key>
	<true/>
	<key>NSUserNotificationAlertStyle</key>
	<string>alert</string>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string></string>
	</dict>
	<key>UIRequiresFullScreen</key>
	<false/>
</dict>
</plist>
